<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>signup</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Full Screen Enroll Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Meta tag Keywords -->

	<!-- css files -->
	<link rel="stylesheet" href="{% static 'css2/style.css' %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="{% static 'css2/font-awesome.min.css' %}">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts2 -->
	<link href="//fonts2.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
	 rel="stylesheet">
	<!-- //web-fonts2 -->
</head>

<body>
	<div class="main-w3ls">
		<div class="left-content">
			<div class="w3ls-content">
				<!-- logo -->
				<h1>
					<a href="registration.html"><span class="fa fa-magic"></span>Full Screen Enroll Form</a>
				</h1>
				<!-- //logo -->
				<h2>Sed do eiusmod tempor incidunut labore.</h2>
				<a href="#" class="button-w3ls">
					<span class="fa fa-long-arrow-right"></span>
				</a>
				<ul class="nav-w3ls">
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">About Us</a>
					</li>
					<li>
						<a href="#">Error Page</a>
					</li>
					<li>
						<a href="#">Blog</a>
					</li>
					<li>
						<a href="#">Contact Us</a>
					</li>
				</ul>
			</div>
			<!-- copyright -->
			<div class="copyright">
				<p>&copy; 2018 Full Screen Enroll Form. All rights reserved | Design by
					<a href="http://w3layouts.com"></a>
				</p>
			</div>
			<!-- //copyright -->
		</div>
		<div class="right-form-agile">
			<!-- content -->
			<div class="sub-main-w3">
				<h3>LOGIN NOW</h3>
				
				<form action="{% url 'login' %}" method="POST">
					{% csrf_token %}
					{{msg}}
					<div class="form-style-agile">
						<label>Email</label>
						<div class="pom-agile">
							<span class="fa fa-envelope-open"></span>
							<input placeholder="Email" name="email" type="email" required="">
						</div>
					</div>
					<div class="form-style-agile">
						<label>Password</label>
						<div class="pom-agile">
							<span class="fa fa-key"></span>
							<input placeholder="Password" name="password" type="password" id="password1" required="">
						</div>
					</div>
				
					
					<input type="submit" value="Login">
					<div class="tulsi">
					<label><a href="{% url 'registration' %}">Haven't an account? Please Singup!</a></label>
					</div>
				</form>
				
			</div>
		</div>
	</div>
	<!-- //content -->

</body>

</html>